<launch>

<!-- Select the robot-driver you wish to use -->
<include file="$(find movingobstaclesrhc)/launch/rosaria.launch" />

	<!-- laser -->
	<node name="sicktoolbox_wrapper" pkg="sicktoolbox_wrapper" type="sicklms">
		<param name="port" value="/dev/ttyUSB1"/>	
		<param name="resolution" value="1"/>
	</node>

<node pkg="tf" type="static_transform_publisher" name="base_link_laser" args="0.0 0 0.6 0.0 0 0 Pioneer3DX/base_link /laser 40"/>
	 
</launch>


